--swiftversion 5.10
--indent 4
--maxwidth 120
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen balanced
--self remove
--importgrouping testable-bottom
--exclude .build,build,DerivedData,RizeMobile.xcodeproj
